<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>问候</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" th:href="@{/greeting/style.css}">

</head>
<body>
<div class="container-wrapper">
  <h1>勤劳的小蜜蜂🐝呀～ &nbsp;&nbsp;飞在花丛🌹中呀～</h1>
  <div class="container">
    <div class="circle-container">
      <!-- 天空部分 -->
      <div class="sky">
        <div class="sky-night">
          <div class="stars">
            <div class="shooting-star"></div>
            <div class="star-group-1"></div>
            <div class="star-group-2"></div>
            <div class="star-group-3"></div>
            <div class="star-group-4"></div>
          </div>
        </div>

        <!-- 云彩 -->
        <div class="cloud cloud-1"></div>
        <div class="cloud cloud-2"></div>
        <div class="cloud cloud-3"></div>
        <div class="cloud cloud-4"></div>
        <div class="cloud cloud-5"></div>
        <div class="cloud cloud-6"></div>
        <div class="bird bird-1"></div>
        <div class="bird bird-2"></div>
        <div class="bird bird-3"></div>
      </div>

      <!-- 山川 -->
      <div class="mountains">
        <div class="mountain-back">
          <div class="mountain-back-1"></div>
          <div class="mountain-back-2"></div>
        </div>
        <div class="mountain-middle">
          <div class="mountain-middle-1"></div>
          <div class="mountain-middle-2"></div>
        </div>
        <div class="mountain-top">
          <div class="mountain-top-1"></div>
        </div>
      </div>

      <!-- 太阳 -->
      <div class="sun-container">
        <div class="sun" id="sun_button"></div>
      </div>

      <!-- 海洋 -->
      <div class="ocean">
        <div class="boat"></div>
        <div class="ocean-night">
          <div class="moon"></div>

          <!-- 山川 -->
          <div class="mountains mountains-bottom">
            <div class="mountain-back">
              <div class="mountain-back-1"></div>
              <div class="mountain-back-2"></div>
            </div>
            <div class="mountain-middle">
              <div class="mountain-middle-1"></div>
              <div class="mountain-middle-2"></div>
            </div>
            <div class="mountain-top">
              <div class="mountain-top-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>左飞飞～ &nbsp;&nbsp;右飞飞～ &nbsp;&nbsp;飞呀飞呀～</p>
  <p>明天的你一定会感谢今天奋斗的自己，加油吧💪</p>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

<!--点击按钮事件,暂时去除-->
<!--<script th:src="@{/greeting/script.js}"></script>-->

<script type="text/javascript">
  // 自动加载该函数
  window.onload = function () {
    // 设置定时器（7秒后调用）
    window.setTimeout("myFunction()", 7000);//使用字符串执行方法
  }

  // 跳转到计划页面
  function myFunction() {
    window.location.replace("/plan")
  }
</script>
</body>
</html>